{% extends "_base.html" %}
{% block title %}{{ super() }} Collections {% endblock %}
{% block crumbs %}{{ super() }}
/ <a href="./collections">{% trans %}Collections{% endtrans %}</a>
{% endblock %}
{% block body %}
<section id="collections">
  <div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">
        {% trans %}Collections in this service{% endtrans %}</h6>
    </div>
    <table class="table table-striped card-body">
      <thead>
        <tr>
          <th>{% trans %}Name{% endtrans %}</th>
          <th>{% trans %}Type{% endtrans %}</th>
          <th>{% trans %}Description{% endtrans %}</th>
        </tr>
      </thead>
      <tbody>
        {% for col in data['collections'] %}
        <tr>
          <td data-label="name">
            <a title="{{ col['title'] | striptags | truncate }}"
              href="{{ config['server']['url'] }}/collections/{{ col.id }}">
              <span>{{ col['title'] | striptags | truncate }}</span></a>
          </td>
          <td data-label="type">{{ col["itemType"] }}</td>
          <td data-label="description">
            {{ col['description'] | striptags | truncate }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock %}